:root {
  --primary: #1f37be;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}

header {
  background-color: var(--primary);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  margin: 20px;
  text-align: center;
}

.container h2 {
  font-size: 2em;
}
.container p {
  margin-top: 20px;
  font-size: 1.25em;
}

.nav-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: left;
  margin: 0 50px 0 50px;
}

.nav-list li {
  margin: 0 20px 0 20px;
  text-decoration: none;
  color: white;
}

Link {
  text-decoration: none;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgba(14, 17, 37, 0.883);
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  position: relative;
  display: inline-block;
}

.note:hover {
  box-shadow: 0 4px 8px 0 rgba(0.2, 0.2, 0.2, 0.2);
}
.note h1 {
  margin-top: 0;
  font-size: 1.1em;
  margin-bottom: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
  min-height: 40px;
  padding-top: 10px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .delete-button {
  position: relative;
  float: right;
  color: var(--primary);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.note img {
  float: right;
}

.note .pin-button {
  width: 20px;
  height: 20px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  float: right;
  margin-left: 2px;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form.edit-note {
  position: relative;
  width: 500px;
  height: 200px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.edit-note input,
form.edit-note textarea {
  width: 100%;
  height: auto;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
button.update-btn {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

button.close-btn {
  position: absolute;
  left: 18px;
  bottom: -18px;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.application {
  border: red;
}
.edit-note-div {
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
